%h1 Umigame App
%p This is the home page for the Umigame App.

.feature-list
  .feature-item
    %p.fs-1 fs-1
    %p.fs-2 fs-2
  .feature-item
    %p.fs-3 fs-3
    %p.fs-4 fs-4
  .feature-item
    %p.fs-5 fs-5
    %p.fs-6 fs-6
