@import 'bootstrap/dist/css/bootstrap-reboot';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Header
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  a {
    text-decoration: none;
    color: #fff;
  }
  ul {
    margin: 0rem;
  }
  li {
    list-style: none;
  }
  .site-header-section {
    display: flex;
    align-items: center;
    .site-header-item {
      padding: 0rem 2rem;
    }
  }
}

// Grid system
.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1rem;
}

.feature-item {
  flex: 0 0 33.3333%;
  max-width: 33.3333%; /* IE11バグ対応 */
}

@media (max-width: 800px) {
  .feature-item {
    flex: 0 0 100%;
    max-width: 100%; /* IE11バグ対応 */
  }
}


// UI
.ghost-button{
  background: white;
  color: #333;
  border: 2px solid #333;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem;
  outline: none;
}

.ghost-button--round{
  border-radius: 100px;
}

.ghost-button:hover{
  background: #aaa;
}

// Footer
.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1rem 1rem;
  padding: 2rem 4rem;
  border-top: 1px solid #555;
  color: #555;
  a {
    text-decoration: none;
    color: #555;
  }
  ul {
    margin: 0px;
  }
  li {
    list-style: none;
  }
  .site-footer-section {
    display: flex;
    align-items: center;
    .site-footer-item {
      padding: 0rem 2rem;
    }
  }
}