%footer
  %div.site-footer
    = link_to('Umigame App', root_path)
    %ul.site-footer-section
      %li.site-footer-item<
        = link_to('About', static_pages_about_path)
      %li.site-header-item<
        = link_to('Contact', '#')